.ex-contact-container {
    gap: 0.75rem;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    color: var(--text-strong);
}

.ex-contact-container p {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-strong);
}